/* ===============

Base

================= */

html,
body {
    height: 100%;
}

/* =================

Header

================== */

header {
    height: 5%;
    background-color: #312F2F;
}

/* =================

Content Area

=====================*/

#map {
    height: 95%;
}