/* ===============

Base

================= */

html,
body {
    height: 100%;
    position: relative;
}

/* =================

Header

================== */

header {
    height: 5%;
    background-color: #312F2F;
}

nav {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav svg {
    height: 100%;
    cursor: pointer;
}

/* =================

Content Area

=====================*/

#map {
    height: 95%;
}

.list {
    width: 25%;
    height: 95%;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 99;
    background-color: #312F2F;
    display: none;
}