/* ===============

Base

================= */

html,
body {
    height: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
}

/* =================

Header

================== */

header {
    height: 5%;
    background-color: #312F2F;
}

nav {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav svg {
    height: 100%;
    cursor: pointer;
}

/* =================

Content Area

=====================*/

#map {
    height: 95%;
}

.list {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 99;
    background-color: #312F2F;
    display: none;
    color: #fff;
}

.selectContainer {
    margin-bottom: 40px;
}

.selectContainer p {
    text-align: center;
}

.selectContainer div {
    width: 150px;
    margin: 0 auto;
}

.selectContainer select {
    color: #312F2F;
}

.list ul {
    padding-left: 0;
    list-style: none;
}

.list ul li {
    cursor: pointer;
    margin-bottom: 40px;
}

.list ul li h3 {
    text-align: center;
}

.itemData {
    display: none;
}

.itemData p,
.itemData a {
    text-align: center;
}

.itemData a {
    width: 100%;
    display: inline-block;
    color: #fff;
}

.itemData a:visited {
    color: #fff;
}

.category,
.markerId {
    display: none;
}

.attribution {
    text-align: center;
    margin-top: 150px;
}

@media screen and (min-width: 1024px) { 
    .list {
        width: 300px;
    }
 }